<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, :class => "form-control", :style => "font-size:18px", :placeholder => "Homem Aranha"  %>
  </div>

  <div style="display: flex">
    <div class="DoubleLabel">
      <%= form.label :cover_url, style: "display: block" %>
      <%= form.text_area :cover_url, :id => "label-double", :class => "form-control", :placeholder => "Coloque a URL da imagem..."  %>
    </div>
    <div class="DoubleLabel" style="margin-left: 20px">
      <%= form.label :published_at, style: "display: block" %>
      <%= form.date_field :published_at, :class => "form-control", :style => "color: grey" %>
    </div>
  </div>

  <div style="display: flex">
    <div>
      <%= form.label :director_id, style: "display: block" %>
      <%= form.select :director_id, Director.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
    </div>
    <div style="margin-left:20px">
      <%= form.label :movie_genre_id, style: "display: block" %>
      <%= form.select :movie_genre_id, MovieGenre.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
    </div>
  </div>

  <div>
    <%= form.label :sinopse, style: "display: block" %>
    <%= form.text_area :sinopse, :class => "form-control", :style => "height:100px", :placeholder => "Breve descrição do filme..."  %>
  </div>

    <%= form.label :artist_id %>
  <div>
    <% Artist.all.each do |artist| %>
      <div class="artists">
        <%= check_box_tag "movie[artist_id][]", artist.id %>
        <%= artist.name %>
      </div>
    <% end %>
  </div>

  <div class="artist_new_btn" style="text-align: end">
    <%= link_to "Cancelar", movies_path, :class => "btn btn-secondary" %>
    <%= form.submit :value => "Salvar", :class => "btn btn-danger my-4" %>
  </div>
<% end %>
